<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
</head>
<body>
<h1>Welcome Employee !</h1>
<form action="addEmployee" method="POST">
<tr>
    <td>Employee ID:</td>
    <td><input type="text" name="id"></td>
</tr>
<tr>
    <td>Employee Name:</td>
    <td><input type="text" name="name"></td>
</tr>
<tr>
    <td>Employee ContactName:</td>
    <td><input type="text" name="contactName"></td>
</tr>
<tr>
    <td></td>
    <td><input type="submit" value="Add Employee"></td>
</tr>
</form>
</body>
</html>